@model IEnumerable<VideoShare.Models.RoomModels>
<head>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>

    @{
        ViewBag.Title = "Your Rooms - SIT";
    }

    <h2>Your Rooms</h2>

    <div>
        <dl class="dl-horizontal">
    
        </dl>
    </div>

<p>
    @Html.ActionLink("Create New", "../Room/Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomOwner)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoomName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomOwner)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Room", new { id = item.RoomID }, null) |
            @Html.ActionLink("Enter Room", "Details", "Room", new { id = item.RoomID }, null) |
            @Html.ActionLink("Delete", "Delete", "Room", new { id = item.RoomID }, null)
        </td>
    </tr>
    }
</table>
